{{ partial "header.html" . }}

    <div class="container frontPage">
        <div class="frontPage__right hidden-xs">
            <div class="frontPage__heading">Blog Posts</div>
            {{ range where .Data.Pages "Section" "post" }}
            <div>
                <div class="frontPage__link"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
            </div>
            {{ end }}
        </div>
        <div class="frontPage__left">
            <div class="frontPage__banner">
                Software Engineer, Server Administrator, Full-Stack Developer &amp; Curious Hobbyist
            </div>
            <p>
                System administrator and software engineer, primarily experienced with Linux and web development. Recent work with with automation and app management tools such as Ansible and Docker. Several years of experience with software development for both websites and C++ games/applications. System management experience with physical and virtual systems, as well as a good understanding of large-scale networking. Interested in a diverse set of technologies including OS/kernel development, hardware/drivers, AI, 3D graphics programming, and networked applications.
            </p>
        </div>
        <div class="visible-xs">
            <div class="frontPage__heading">Blog Posts</div>
            {{ range where .Data.Pages "Section" "post" }}
            <div>
                <div class="frontPage__link"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
            </div>
            {{ end }}
        </div>
    </div>

{{ partial "footer.html" . }}
