
$color_lang:   #175482;
$bgcolor_lang: #B1CDE2;

$color_plat:   #5b1365;
$bgcolor_plat: #E0B4E6;

$color_status_indev:   #3c763d;
$bgcolor_status_indev: #B3E2B1;

$color_status_onhold:   #8a6d3b;
$bgcolor_status_onhold: #F2DB9D;

$color_status_discontinued:   #a94442;
$bgcolor_status_discontinued: #E3A390;
