.header__title
{
    font-size: 30px;
    margin-left: 50px;
}
.headerMenu
{
    background-color: #666;
    border-radius: 0;
    min-height: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-right: 20px solid #FFF;

    a
    {
        display: inline-block;
        font-size: 18px;
        padding: 0 10px;
        height: 30px;
        color: #FFF;

        &:first-child
        {
            padding-left: 15px;
        }

        &:hover
        {
            color: #444;
            background-color: #FFF;
            @include transition(color 0.2s, background-color 0.2s);
        }
    }
}
.headerMenu__items
{
    float: left;
}
.headerMenu__colorWrap
{
    float: right;
    font-size: 0;
    margin-right: -15px;
}
.headerMenu__color
{
    display: inline-block;
    width: 20px;
    height: 30px;
	@include transform(skew(20deg));
}
.headerMenu__color--1
{
    background-color: $color_1;
}
.headerMenu__color--2
{
    background-color: $color_2;
}
.headerMenu__color--3
{
    background-color: $color_3;
}
.headerMenu__color--4
{
    background-color: $color_4;
}
.headerMenu__color--5
{
    background-color: $color_5;
}
.headerMenu__color--6
{
    background-color: $color_6;
}
@media (min-width: $screen-sm-min)
{
    .header__title
    {
        font-size: 36px;
        margin-left: 0;
    }
}
@media (max-width: 400px)
{
    .header__title
    {
        font-size: 26px;
    }
}
