.post__date
{
    display: inline-block;
    padding-bottom: 15px;
}
@media (min-width: $screen-md-min)
{
    .post__content
    {
        max-width: 80%;
    }
}
@media (min-width: $screen-lg-min)
{
    .post__content
    {
        max-width: 70%;
    }
}
