.post__date
{
    display: inline-block;
    padding-bottom: 15px;
}
.post__sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.post__sidebar li::before {
    content: "\00251C "
}
.post__sidebar li:last-child::before {
    content: "\002514 "
}
@media (max-width: $screen-sm-max)
{
    .post__sidebarTitle {
        font-size: 20px;
        color: #000;
        padding-top: 15px;
        cursor: pointer;
    }
    .post__sidebar ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s;
    }
    .post__sidebar.shown ul {
        max-height: 200px;
    }
    .post__sidebar li {
        padding: 0px 10px;
    }
    .post__sidebarIndicator {
        transition: transform 0.3s;
        font-size: 10px;
        transform: translateY(-3px);
    }
    .post__sidebar.shown .post__sidebarIndicator {
        transform: rotate(180deg);
    }
}
@media (min-width: $screen-md-min)
{
    .post__sidebarIndicator {
        display: none;
    }
    .post__sidebarTitle {
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .post__sidebar {
        float: right;
        width: 30%;
        padding-left: 15px;
    }
    .post__content
    {
        max-width: 70%;
        padding-right: 20px;
        border-right: 2px solid #000;
    }
}
@media (min-width: $screen-lg-min)
{
    .post__sidebar {
        width: 30%;
    }
    .post__content
    {
        max-width: 70%;
    }
}
