.project {
  clear: both;
  border-bottom: 1px solid #AAA;
  margin-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.project__title {
  font-size: 24px;
  margin-bottom: 15px;
}
.project__desc {
  max-width: 75%;
}
.project__status,
.project__plat {
  float: right;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  margin-left: 5px;
}
.project__status--indev {
  background-color: #B3E2B1;
  color: #3c763d;
}
.project__status--onhold {
  background-color: #F2DB9D;
  color: #8a6d3b;
}
.project__status--discon {
  background-color: #E3A390;
  color: #a94442;
}
.project__plat--linux {
}
.project__plat--win {
  background-color: #B1CDE2;
  color: #175482;
}
.project__plat--cross {
  background-color: #E0B4E6;
  color: #5b1365;
}
.projectList
{
}
.projectList__wrap
{
    border-left: 5px solid #AAA;

    &.hover
    {
        border-color: #444;
        @include transition(border-color 0.2s);
    }
}
.projectListItem
{
    position: relative;
    padding-left: 70px;
    margin-bottom: 40px;
    min-height: 100px;

    &.hover
    {
        .projectListItem__curve,
        .projectListItem__circle
        {
            border-color: #444;
            @include transition(border-color 0.2s);
        }
    }
}
.projectListItem__title
{
    font-size: 30px;
    margin-bottom: 0;
}
.projectListItem__tagWrap
{
    margin-bottom: 10px;
}
.projectListItem__tag
{
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    background-color: #AAA;
    color: #FFF;

    &::after
    {
        font-size: 14px;
    }
}
.projectListItem__tag--indev
{
    color: $color_status_indev;
    background-color: $bgcolor_status_indev;
    font-size: 0;

    &::after {
        content: "In-Development";
    }
}
.projectListItem__tag--onhold
{
    color: $color_status_onhold;
    background-color: $bgcolor_status_onhold;
    font-size: 0;

    &::after {
        content: "On-Hold";
    }
}
.projectListItem__tag--discontinued
{
    color: $color_status_discontinued;
    background-color: $bgcolor_status_discontinued;
    font-size: 0;

    &::after {
        content: "Discontinued";
    }
}
.projectListItem__tag--cross-platform,
.projectListItem__tag--linux,
.projectListItem__tag--windows
{
    color: $color_plat;
    background-color: $bgcolor_plat;
    font-size: 0;
}
.projectListItem__tag--cross-platform::after
{
    content: "Cross-Platform";
}
.projectListItem__tag--linux::after
{
    content: "Linux";
}
.projectListItem__tag--windows::after
{
    content: "Windows";
}
.projectListItem__tag--go,
.projectListItem__tag--c,
.projectListItem__tag--cpp,
.projectListItem__tag--java,
.projectListItem__tag--asm
{
    color: $color_lang;
    background-color: $bgcolor_lang;
    font-size: 0;
}
.projectListItem__tag--go::after
{
    content: "Go";
}
.projectListItem__tag--c::after
{
    content: "C";
}
.projectListItem__tag--cpp::after
{
    content: "C++";
}
.projectListItem__tag--java::after
{
    content: "Java";
}
.projectListItem__tag--asm::after
{
    content: "Assembly";
}
.projectListItem__curve
{
    position: absolute;
    top: 26px;
    left: 0;
    width: 40px;
    height: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 5px solid #AAA;
    border-right: 5px solid #AAA;
}
.projectListItem__circle
{
    position: absolute;
    top: 2px;
    left: 25px;
    width: 25px;
    height: 25px;
    border: 5px solid #AAA;
    border-radius: 25px;
}
.projectListItem__image
{
    max-width: 200px;
    max-height: 100px;
}
@media (min-width: $screen-sm-min)
{
    .projectList__wrap
    {
        margin-left: 20px;
    }
    .projectListItem__image
    {
        float: right;
    }
    .projectListItem__titleWrap
    {
        max-width: 80%;
        line-height: 40px;
    }
    .projectListItem__summary
    {
        max-width: 80%;
    }
    .projectList__wrap
    {
        &:hover
        {
            border-color: #444;
            @include transition(border-color 0.2s);
        }
    }
    .projectListItem
    {
        &:hover
        {
            .projectListItem__curve,
            .projectListItem__circle
            {
                border-color: #444;
                @include transition(border-color 0.2s);
            }
        }
    }
}
