.projectList
{
}
.projectList__wrap
{
    border-left: 5px solid #AAA;

    &:hover,
    &.hover
    {
        border-color: #444;
        @include transition(border-color 0.2s);
    }
}
.projectListItem
{
    position: relative;
    padding-left: 70px;
    margin-bottom: 40px;
    min-height: 100px;

    &:hover,
    &.hover
    {
        .projectListItem__curve,
        .projectListItem__circle
        {
            border-color: #444;
            @include transition(border-color 0.2s);
        }
    }
}
.projectListItem__title
{
    font-size: 30px;
}
.projectListItem__tagWrap
{
    margin-bottom: 10px;
}
.projectListItem__tag
{
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #AAA;
    color: #000;

    &::after
    {
        font-size: 14px;
    }
}
.projectListItem__tag--go
{
    background-color: $color_1;
    color: #FFF;
    font-size: 0;

    &::after
    {
        content: "Go";
    }
}
.projectListItem__tag--c
{
    background-color: $color_2;
    color: #FFF;
    font-size: 0;

    &::after
    {
        content: "C";
    }
}
.projectListItem__tag--cpp
{
    background-color: $color_3;
    color: #FFF;
    font-size: 0;

    &::after
    {
        content: "C++";
    }
}
.projectListItem__tag--java
{
    background-color: $color_4;
    color: #FFF;
    font-size: 0;

    &::after
    {
        content: "Java";
    }
}
.projectListItem__tag--asm
{
    background-color: $color_5;
    color: #FFF;
    font-size: 0;

    &::after
    {
        content: "Assembly";
    }
}
.projectListItem__tag--unreal
{
    background-color: $color_6;
    color: #FFF;
    font-size: 0;

    &::after
    {
        content: "Unreal";
    }
}
.projectListItem__curve
{
    position: absolute;
    top: 26px;
    left: 0;
    width: 40px;
    height: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 5px solid #AAA;
    border-right: 5px solid #AAA;
}
.projectListItem__circle
{
    position: absolute;
    top: 2px;
    left: 25px;
    width: 25px;
    height: 25px;
    border: 5px solid #AAA;
    border-radius: 25px;
}
.projectListItem__githubLink
{
    float: right;
    opacity: 0.4;

    &:hover
    {
        opacity: 1;
        @include transition(opacity 0.2s);
    }
}
@media (min-width: $screen-sm-min)
{
    .projectList__wrap
    {
        margin-left: 20px;
    }
    .projectListItem__titleWrap
    {
        max-width: 80%;
        height: 40px;
        line-height: 40px;
    }
    .projectListItem__tagWrap
    {
        float: right;
        margin-bottom: 0;
    }
    .projectListItem__summary
    {
        max-width: 80%;
    }
}
