.resume__right
{
    float: right;
}
.resume__indent
{
    margin-left: 20px;
}
@media (max-width: $screen-xs-max)
{
    .resume__right
    {
        display: block;
        float: none;
    }
    .resume__indent
    {
        margin-left: 0;
    }
}
