
@import "compass/css3";
@import "bootstrap";
@import "config";
@import "header";
@import "mobile-menu";
@import "front-page";
@import "project";
@import "post";
@import "resume";
@import "footer";

body
{
    font-family: "Roboto", Arial;
    font-size: 16px;
}
a
{
    color: #888;

    &:hover
    {
        text-decoration: none;
        color: #444;
        @include transition(color 0.2s);
    }
}
.pageTitle
{
    font-size: 38px;
    margin-bottom: 30px;
}
