<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/css/site.css" media="screen">
    </head>
<body>
<div class="container header">
    <h1 class="header__title"><a href="{{ .Site.BaseURL }}">Stephen Lane-Walsh</a></h1>
    <nav class="navbar headerMenu">
        {{ range $menuItem := .Site.Params.menu }}
            <a href="{{ index $menuItem 0 }}">{{ index $menuItem 1 }}</a>
        {{ end }}
        <div class="headerMenu__colorWrap">
            <span class="headerMenu__color headerMenu__color--1"></span>
            <span class="headerMenu__color headerMenu__color--2"></span>
            <span class="headerMenu__color headerMenu__color--3"></span>
            <span class="headerMenu__color headerMenu__color--4"></span>
            <span class="headerMenu__color headerMenu__color--5"></span>
            <span class="headerMenu__color headerMenu__color--6"></span>
            <span class="headerMenu__color headerMenu__color--7"></span>
        </div>
    </nav>
</div>
