<!DOCTYPE html>
<html>
<head>
  <title>[Stephen Lane-Walsh] {{ .Site.Title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio and Blog of Stephen Lane-Walsh">
  <meta name="keywords" content="Software,Engineer,System,Administrator,Blog,Portfolio,Stephen,Lane,Lane-Walsh">
  <meta name="author" content="Stephen Lane-Walsh">
  <link rel="stylesheet" href="/css/site.css" media="screen">
  <link rel="stylesheet" href="/css/highlight.css" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto" rel="stylesheet">
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="backgroundFixed hidden-xs">
        <div class="backgroundWrap">
            <pre class="background"></pre>
        </div>
    </div>
    <div class="mobileMenuWrap hidden-sm js-mobileMenuWrap">
        {{ range $menuItem := .Site.Params.menu }}
            <a class="mobileMenuItem" href="{{ index $menuItem 0 }}">{{ index $menuItem 1 }}</a>
        {{ end }}
    </div>
    <div class="js-pageWrap">
        <div class="container page">
            <div class="container header">
                <div class="mobileMenuIcon visible-xs js-mobileMenuToggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a class="header__github" target="_blank" href="https://github.com/whobrokethebuild">
                    <img src="/images/github.png" alt="GitHub" />
                </a>
                <div class="header__title"><a href="{{ .Site.BaseURL }}">Stephen Lane-Walsh</a></div>
                <nav class="navbar headerMenu hidden-xs">
                    <div class="headerMenu__items">
                        {{ range $menuItem := .Site.Params.menu }}
                            <a href="{{ index $menuItem 0 }}">{{ index $menuItem 1 }}</a>
                        {{ end }}
                    </div>
                </nav>
          </div>
          <div class="clearfix"></div>
          <div class="content">
