{{ partial "header.html" . }}

    <div class="container projectList js-projectList">

        <h1 class="pageTitle">Projects</h1>
        <div class="projectList__wrap js-projectListWrap">
            {{ range .Data.Pages }}
            <div class="projectListItem js-projectListItem">
                <div class="projectListItem__circle"></div>
                <div class="projectListItem__curve"></div>
                <div class="projectListItem__titleWrap">
                    <a class="projectListItem__title" target="_blank" href="{{ .Params.github }}">{{ .Title }}</a>
                </div>
                <div class="projectListItem__tagWrap">
                    {{ range .Params.tags }}
                        <span class="projectListItem__tag projectListItem__tag--{{ . }}">{{ . }}</span>
                    {{ end }}
                </div>
                <p class="projectListItem__summary">{{ .Summary }}</p>
            </div>
            {{ end }}
        </div>

    </div>

{{ partial "footer.html" . }}
