{{ partial "header.html" . }}

    <div class="container projectList">

        <h1 class="pageTitle">Projects</h1>
        <div class="projectList__wrap">
            {{ range .Data.Pages }}
            <div class="projectListItem">
                <div class="projectListItem__circle"></div>
                <div class="projectListItem__curve"></div>
                <div class="projectListItem__titleWrap">
                    <a class="projectListItem__githubLink" href="{{ .Params.githublink }}" title="View on GitHub">
                        <img src="/images/github.png" alt="GitHub" />
                    </a>
                    <span class="projectListItem__tag projectListItem__tag--c">C</span>
                    <span class="projectListItem__tag projectListItem__tag--cpp">C++</span>
                    <span class="projectListItem__tag projectListItem__tag--java">Java</span>
                    <span class="projectListItem__tag projectListItem__tag--unreal">Unreal</span>
                    <a class="projectListItem__title" href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                <p class="projectListItem__summary">{{ .Params.summary }}</p>
            </div>
            {{ end }}
        </div>

    </div>

{{ partial "footer.html" . }}
